{{#contentFor 'body'}}
  <h3>List User</h3>

  <a href="user/new">Create New</a>
<script>console.log(data)</script>
  <ul>
  {{#each data}}
    <li><h4>{{data.name}}</h4></li>
  {{/each}}
  </ul>
{{/contentFor }}
